* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
.main {
  display: flex;
  height: 100vh;
  background-color: black;
  padding: 0.5rem;
}
.sidebar {
  /* background-color: brown; */
  width: 400px;
  border-radius: 1rem;
  margin-right: 0.5rem;
  background-color: #121212;
}
.main-containt {
  /* background-color: rgb(255, 140, 0); */
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  background-color: #121212;
  margin: 0 1.5rem 0 1.5rem;
}
.music-player {
  background-color: blue;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 4.5rem;
  background-color: #121212;
}
.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.75rem;
}
a {
  text-decoration: none;
}
.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font-size: 1.25rem;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}
.library {
  border-radius: 1rem;
  background-color: #121212;
  height: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
}
.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lib-option {
  display: flex;
  align-items: center;
  opacity: 0.7;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
}
.lib-a {
  font-weight: 500;
}
.lib-option:hover {
  opacity: 1;
}

.lib-option img {
  height: 1.5rem;
  width: 1.25rem;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  /* font-weight:500: */
}
.icons {
  display: flex;
  font-size: 1rem;
  opacity: 0.7;
}
.icons i {
  margin-right: 1.5rem;
  font-weight: 700;
}
.icons:hover {
  opacity: 1;
}
.box {
  height: 8.2rem;
  background-color: #232323;
  margin: 1.5rem 0 1.5rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.p1 {
  font-size: 1rem;
  font-weight: 800px;
  margin-top: 0.5rem;
  background-color: #232323;
  font-weight: 600;
}

.p2 {
  font-size: 0.8rem;
  opacity: 0.9;
  margin-top: 0.7rem;
  background-color: #232323;
  font-weight: 600;
}
.p2:hover {
  opacity: 1;
}
.badge {
  background-color: #fff;
  border: none;
  color: #000;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  height: 2rem;
  /* margin-top:1.2rem; */
}
.sidebarbadge {
  margin-top: 1.5rem;
}
.sticky-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #121212;
  padding: 1rem 0 0.7rem 0;
  z-index: 12;
}
.sticky-arrows {
  opacity: 0.8;
  background-color: #232323;
}
.arrow-left {
  margin-right: 1.5rem;
  margin-left: 1rem;
}

.sticky-arrows:hover {
  opacity: 1;
}
.sticky-options {
  /* padding:0rem 0 .8rem 0; */
  background-color: #232323;
  display: flex;
  align-items: center;
}
.sticky-user {
  margin-right: 1rem;
}
.sticky-button-two {
  background-color: #232323;
  color: #fff;
}
.sticky-options button {
  margin-right: 1.5rem;
}
@media (max-width: 1000px) {
  .sticky-button-one {
    display: none;
  }
}
@media (max-width: 710px) {
  .sticky-button-two {
    display: none;
  }
  .arrow-right {
    display: none;
  }
}
.cards {
  overflow: auto;
}
.card {
  /* background-color: #121212; */
  width: 160px;
  border-radius: 0.7rem;
  padding: 1rem;
  margin-top: 0.8rem;
  /* overflow: auto; */
  margin-left: 1.5rem;
  /* opacity:0; */
}
.card-info:hover,.title:hover,.card:hover {
  background-color: #232323;
}
/*
.title:hover{
  background-color: #232323;
}
.card-info:hover{
  background-color: #232323;
} */
.heading {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 1rem;
}
.card-img {
  width: 100%;
  height: 70%;
  border-radius: 0.7rem;
}
.title {
  margin-top: 0.3rem;
  background-color: #232323;
  font-weight: 500;
}
.card-info {
  margin-top: 0.5rem;
  background-color: #232323;
  font-size: 0.75rem;
  opacity: 0.8;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.line {
  height: 5%;
  width: 80%;
  border-top: 2px solid #fff;
  opacity: 0.4;
}
/* /////////////////////// */
.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}
.albums {
  width: 25%;
  /* background-color: rgb(255, 25, 0); */
  display: flex;

  /* height: 100%; */
}
.album-img {
  height: 4rem;
  width: 4.8rem;
  margin-right: 0.9rem;
  /* margin-left:.25rem; */
  padding-left: 0.5rem;
}
.album-title {
  font-size: 0.9rem;
  font-weight: 600;
}
.album-info {
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.7;
}
.player {
  width: 50%;
  /* display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly; */
}
.controls {
  width: 25%;
  height: 100%;
  background-color: blue;
  z-index: 14;
}
.player-controls-icon {
  height: 1rem;
  margin-right: 2rem;
  opacity: 0.7;
}
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playback-bar {
  display: flex;
  justify-content: center;
}
.progress-bar {
  width: 70%;
  /* margin-top: .5rem; */

}
.play-pause {
  opacity: 1;
  height: 2rem;
  bottom: 1rem;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;

  /* justify-content: space-evenly; */
  background-color: #121212;
}
.controls i {
  height: 1.5rem;
  margin: 1rem;
  opacity: 0.7;
}
.valume-range {
  width: 45%;
}
